<div class='container'>
  <div class='row'>
    <div class='col-md-6 mx-auto'>
      <%= render 'layouts/errors', obj: @user %>
      <h3>User info</h3>
      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control user-name' %>
        </div>
        <div class='form-group'>
          <%= f.label :image %><br>
          <%= f.file_field :profile_image %>
        </div>
        <div class='form-group'>
          <%= f.label :introduction %>
          <%= f.text_field :introduction, class: 'form-control user-introduction' %>
        </div>
        <div class='form-group'>
          <%= f.submit "Update User", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
